.World1Container {
	position: relative;
	border: 10px double black;
	width: fit-content;
}
.BackToHarvestPage {
	position: absolute;
	right: 3px;
	top: 0px;
	width: fit-content;
	align-self: flex-end;
	text-decoration: none;
	color: black;
}
.World1 {
	position: relative;
	border: 10px double black;
	margin: 20px;
	height: 500px;
	width: 500px;
}
.PlayerBlock {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: blue;
}
.Monster1,
.Monster2,
.Monster3 {
	position: absolute;
	background-color: red;
	width: 40px;
	height: 40px;
}