.World1Container {
	position: relative;
	border: 10px double black;
}
.BackToHarvestPage {
	position: absolute;
	right: 1%;
	top: 1%;
	width: fit-content;
	align-self: flex-end;
	text-decoration: none;
	color: black;
}
.World1 {
	border: 10px double black;
	margin: 20px;
}