.World1Container {
	position: relative;
	border: 10px double black;
	height: 97%;
}
.BackToHarvestPage {
	position: absolute;
	right: 3px;
	top: 0px;
	width: fit-content;
	align-self: flex-end;
	text-decoration: none;
	color: black;
}
.World1 {
	position: relative;
	border: 10px double black;
	margin: 20px;
	height: 90.5%;
}
.PlayerBlock {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: blue;
}