.HowtoPage {
	position: relative;
	border: 10px double black;
}
.HomeNavLink {
	position: absolute;
	right: 1%;
	top: 1%;
	width: fit-content;
	align-self: flex-end;
	text-decoration: none;
	color: black;
}