.SignupForm {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.FormLable {
	margin: 3% 0;
}
.FormInput {
	display: inline-block;
	outline: none;
	border: none;
	padding: 0 0 0 5px;
	font-family: 'PKMN RBYGSC', sans-serif;
	font-size: .9em;
	outline-offset: 0;
}
.FormButton {
	cursor: pointer;
	margin: 6% 0;
	align-self: center;
	font-size: 1em;
	font-family: 'PKMN RBYGSC', sans-serif;
	outline: none;
	border: none;
	background-color: white;
}