.HomePage {
	
}

.MainNavbarLoggedOut {
	display: flex;
	flex-direction: column;
	border: 10px double black;
	width: 138px;
	padding: 1% 3% .5% 2%;
}
.MainNavbarLoggedIn {
	display: flex;
	flex-direction: column;
	border: 10px double black;
	width: 138px;
	padding: 1% 3% .5% 2%;
}

.HowtoNavLink {
	text-decoration: none;
	width: fit-content;
	margin: 6% 0;
	color: black;
}
.LoginNavLink {
	text-decoration: none;
	width: fit-content;
	margin: 6% 0;
	color: black;
}
.LogoutNavLink {
	text-decoration: none;
	width: fit-content;
	margin: 6% 0;
	color: black;
}
.SignupNavLink {
	text-decoration: none;
	width: fit-content;
	margin: 6% 0;
	color: black;
}
.HarvestNavLink {
	text-decoration: none;
	width: fit-content;
	margin: 6% 0;
	color: black;
}